<div class="col-span-1 divide-gray-200 rounded-lg border border-gray-300 bg-white dark:bg-gray-900 dark:border-gray-700">
  <div class="flex w-full items-center justify-between space-x-6 p-6">
    <div class="flex-1 truncate">
      <div class="flex items-center space-x-3">
        <%= image_tag avatar_url_for(post.user), class: "h-10 w-10 rounded-full ring-1 ring-gray-900/10" %>
        <h3 class="truncate text-xs font-medium text-gray-900 dark:text-white">Posted in <%= link_to post.community.name, community_path(post.community) %> • <span class="text-gray-500 font-normal text-xs dark:text-white"><%= time_ago_in_words(post.created_at) %> ago</span></br>
        by <span><%= link_to post.user.username, user_path(post.user), class: "text-gray-900 dark:text-white font-medium hover:underline cursor-pointer" %></span></h3>
      </div>
    </div>
  </div>
  
  <div class="text-sm mx-6 my-4">
    <a href="<%= post_path(post) %>">
      <div class="mb-3">
        <p class="text-base mb-3 font-semibold">
          <%= post.title %>
        </p>
  
        <% if post.url? %>
          <p class="mb-5 text-gray-600 dark:text-white">
            <%= post.url %>
          </p>
        <% end %>
        
        <% if post.media.attached? %>
          <div class="mb-5">
            <% if post.media.video? %>
              <%= video_tag post.media %>
            <% else %>
              <%= image_tag post.media, alt: post.title %>
            <% end %>
          </div>
        <% end %>
        
        <% if post.body %>
          <p class="mb-5 text-gray-600 dark:text-white line-clamp-3">
            <%= post.body %>
          </p>
        <% end %>
      </div>
      <!-- Post comments -->
      <div class="mb-5 flex items-center gap-x-2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
        </svg>
        3 Comments
      </div>
  
      <% if user_signed_in? %>
        <div class="mb-8">
          
        </div>
      <% else %>
        <div class="mb-5 underline text-blue-500 font-medium">
          <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Log in", new_user_session_path %> to comment
        </div>
      <% end %>
    </div>
  </a>
</div>
