<% content_for :left_content do %>
  <%= render "shared/sidebar_menu" %>
<% end %>

<% content_for :main_content do %>
  <div class="w-full">
    <div class="mb-10 flex justify-between items-center">
      <h1 class="font-bold text-base">Muscles</h1>
      <% if current_user && current_user.has_role?(:admin) %>
        <div class="mt-4 sm:ml-16 sm:mt-0 flex justify-between items-center">
          <%= link_to "Create a muscle", new_muscle_path, class: "rounded-full py-2 px-5 bg-blue-500 text-white block font-medium" %>
        </div>
      <% end %>
    </div>
    <div class="mt-8 flow-root">
      <% if @muscles.count > 0 %>
        <div class="-my-2 overflow-x-auto border border-gray-300 dark:border-gray-700 rounded-lg bg-white dark:bg-gray-900">
          <div class="inline-block min-w-full py-2 align-middle">
            <table class="min-w-full divide-y divide-gray-300 dark:divide-gray-700">
              <% @muscles.each do |muscle| %>
                <tbody class="divide-y divide-gray-200 bg-white dark:bg-gray-900">
                  <tr>
                    <td class="whitespace-normal py-5 pl-4 pr-3">
                      <div class="flex items-center">
                        <% if muscle.avatar.attached? %>
                          <div class="h-32 w-32 flex-shrink-0">
                            <%= image_tag muscle.avatar, alt: muscle.name %>
                          </div>
                        <% end %>
                        <div class="ml-4">
                          <div class="font-medium text-gray-900 dark:text-white mb-2"><%= muscle.name %></div>
                          <% if muscle.origin %>
                            <div class="text-gray-500 line-clamp-3">Origin: <%= muscle.origin %></div>
                          <% end %>
                          <% if muscle.insertion %>
                            <div class="text-gray-500 line-clamp-3 mb-2">Insertion: <%= muscle.insertion %></div>
                          <% end %>
                          <div class="mt-2 inline-flex items-center rounded-full bg-blue-50 dark:bg-gray-900 px-2 py-1 text-xs font-medium text-blue-700 ring-1 ring-inset ring-blue-600/20"><%= link_to "Learn more", muscle_path(muscle) %></div>
                          <% if user_signed_in? && current_user.has_role?(:admin) %>
                            <div><%= link_to "Edit muscle", edit_muscle_path(muscle), class: "mt-2 inline-flex items-center rounded-full bg-gray-50 dark:bg-gray-900 px-2 py-1 text-xs text-gray-500 ring-1 ring-inset ring-gray-600/20" %></div>
                          <% end %>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              <% end %>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render "shared/two_column_layout" %>